<p id="notice"><%= notice %></p>

<h1>Exchange Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path %>
<%= @euro_title %>
<br>
<h1>Exchange Rate</h1>
  <table>
    <thead>
      <tr>
        <th>KRW(Korea)</th>
        <th>USD(US)</th>
        <th>Exchange Result</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>KRW(Korea)</th>
        <th>JYP100(Japan)</th>
        <th>Exchange Result</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>KRW(Korea)</th>
        <th>CNY(China)</th>
        <th>Exchange Result</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>KRW(Korea)</th>
        <th>EUR(Europe)</th>
        <th>Exchange Result</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
