<p id="notice"><%= notice %></p>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<div style='text-align:center;'>
<h3 style='text-align: center;margin: 55px 0px;border-bottom: 2px solid #666; display:inline-block;padding-bottom:10px'>Exchang Board</h3>
</div>
    <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-caption">
                  <h3>Exchange Board</h3>
                  <p>You can exchange a small amount of money via our service.</p>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">
                  <h3>Customers</h3>
                  <p>Over the twelve country's users who are using our service.</p>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">
                  <h3>Transparency</h3>
                  <p>Our service was constructed block chain system, so transparency is our service's strength.</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<h3>Exchange Post List</h3>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Num</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% post_number = 1 %>
    <% @posts.each do |post| %>
    <tr>
      <th scope="row"><%=post_number%></th>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% post_number = post_number + 1 %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Post', new_post_path, class: "btn btn-info" %>
<br>

<%= render '/posts/rates' %>

<%= render '/layouts/footer' %>
